.card-img-top {
    max-width:100%;
    height: 180px;
    display:block;
    border: 140px;
}

p {
    text-align: center;
}

h1,h2,h3,th,td {
    text-align: center;
}

.dataframe {
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width:100%;
    height:auto;
}